<div class="card w-33">
  <div class="card-header">{{name}}</div>
  <ul class="list-group list-group-flush">
    {{#each information}}
      <li class="list-group-item">
        <span class="font-weight-bold">{{label}}: </span>
        {{description}}
      </li>
    {{/each}}
  </ul>
</div>
