<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="/css/creatures.css" />

<table id="creatures-table" class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Traits</th>
      <th scope="col">Level</th>
    </tr>
  </thead>
  <tbody>
    {{#each creatures}}
      <tr onclick='window.location="/creatures/{{name}}";'>
        <td>{{name}}</td>
        <td>
          {{#each tags}}
            <span class="badge badge-secondary">{{this}}</span>
          {{/each}}
        </td>
        <td>{{level}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="/js/creatures.js"></script>
