<link href="/css/jsoneditor.min.css" rel="stylesheet" type="text/css">
<link href="/css/edit.css" rel="stylesheet" type="text/css">

<script src="/js/jsoneditor.min.js"></script>

<div id="jsoneditor"></div>

<button id="save" type="save" class="btn btn-primary">Save</button>

<script>
  const json = {{{json}}}
</script>

<script src="/js/edit.js"></script>
