<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/creatures.css" />

<ul class="navbar-nav mr-auto">

    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="difficultyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Encounter Difficulty
        </a>
        <div class="dropdown-menu" >
            <a class="dropdown-item" value="Trivial">Trivial</a>
            <a class="dropdown-item" value="Low-Threat">Low-Threat</a>
            <a class="dropdown-item" value="High-Threat">High-Threat</a>
            <a class="dropdown-item" value="Severe-Threat">Severe-Threat</a>
            <a class="dropdown-item" value="Extreme-Threat">Extreme-Threat</a>
        </div>
    </li>

    <li class = "nav-item">
        <div class="form-group">
            <label for="PartyLevel">Party's Level :</label>
            <input type="text" class="form-control" id="partyLevel" value = "0" >
        </div>
    </li>

    <li class = "nav-item">
        <div class="form-group">
            <label for="moreLessPlayers"> Additional '(+)'/ Missing '(-)'' Players :</label>
            <input type="text" class="form-control" id="addRemovePlayers" value = "0">
        </div>
    </li>

    <li class = "nav-item">
        <button type="button" id = "generateCreatures" onclick="window.location='/encounter/{{url}}';" >
            Generate Encounter
        </button>
    </li>
</ul>

<script src="/../generateEncounter.js"></script>
