<link rel="stylesheet" href="/css/feats.css" />

<div class="row mb-3 mt-3">
  <div class="col input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="feat-search">Search Feats</label>
    </div>
    <input class="form-control" id="feat-search" attributeName="value" name="feat-search" required>
  </div>
  <div class="col input-group">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="feat-filter btn btn-secondary active">
        <input type="radio" name="options" id="all-feats" autocomplete="off" checked>All
      </label>
      <label class="feat-filter btn btn-secondary">
        <input type="radio" name="options" id="General" autocomplete="off">General
      </label>
      <label class="feat-filter btn btn-secondary">
        <input type="radio" name="options" id="Skill" autocomplete="off">Skill
      </label>
    </div>
</div>

<div id="feats" class="card-columns">
  {{#each feats}}
    {{> feat}}
  {{/each}}
</div>

<script src="/js/feats.js"></script>
