<link rel="stylesheet" href="/css/feats.css" />

<input class="form-control" id="search" type="text" placeholder="Filter..">
<div id="feats" class="card-columns">
  {{#each feats}}
    {{> feat}}
  {{/each}}
</div>

<script src="/js/feats.js"></script>
