<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="/css/creatures.css" />

<table id="spells-table" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tags</th>
      <th scope="col">Level</th>
    </tr>
  </thead>
  <tbody>
    {{#each hazards}}
      <tr onclick="window.location='/hazards/{{name}}';">
        <td>{{name}}</td>
        <td>
          {{#each tags}}
            <span class="badge badge-secondary">{{this}}</span>
          {{/each}}
        </td>
        <td>{{level}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="/js/spells.js"></script>
