<form action="/login" method="post">
  <input type="text" name="username" value="test" style="display: none;"/>
  <div class="input-group mt-3 mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Password..."
      name="password"
      aria-label="Password..."
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enter</button>
    </div>
  </div>
</form>
